cluster:
  capi_providers:
    infra_provider: capone
    bootstrap_provider: cabpr

  k8s_version: v1.32.9+rke2r1

  node_classes:
    generic:
      kernel_cmdline: {}
      kubelet_extra_args: {}
      kubelet_config_file_options: {}
      nodeTaints: {}
      nodeLabels: {}
      nodeAnnotations: {}
      non_hugepages_minimum_memory_gb: 8
      additional_commands:
        pre_bootstrap_commands:
          - sudo apt update && sudo apt install -y pciutils nano arping iputils-ping
        post_bootstrap_commands:
          - echo "KUBECONFIG=/etc/rancher/rke2/rke2.yaml" | sudo tee -a /etc/environment
          - curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          - sudo chmod 777 /etc/rancher/rke2/rke2.yaml && sudo chmod 777 /usr/local/bin/helm
          - sudo cp /etc/rancher/rke2/certs/ca.crt /usr/local/share/ca-certificates && sudo update-ca-certificates
          - wget https://github.com/derailed/k9s/releases/latest/download/k9s_linux_amd64.deb
          - sudo apt install ./k9s_linux_amd64.deb
          - rm k9s_linux_amd64.deb
    vsr:
      kernel_cmdline:
        hugepages:
          enabled: true
          hugepagesz_2M: 8192
          hugepagesz_1G: 0
          default_size: 2M
      non_hugepages_minimum_memory_gb: 16
      kubelet_extra_args:
        allowed-unsafe-sysctls: net.*
      kubelet_config_file_options: {}
      nodeTaints: {}
      nodeLabels:
        feature.node.kubernetes.io/network-sriov.capable: "true"
      nodeAnnotations: {}
      additional_commands:
        pre_bootstrap_commands:
          - sudo apt update && sudo apt install -y pciutils nano arping iputils-ping
          - mkdir /etc/rancher/rke2/certs
          - mv /var/lib/rancher/rke2/agent/etc/containerd/config.toml.tmpl /var/lib/rancher/rke2/agent/etc/containerd/config.toml.tmpl.bk

  capone:
    public_network: Service

    master_template: validation-capone-rke2-wkld-master
    worker_template: validation-capone-rke2-wkld-worker-any-vf

    images:
      - imageName: validation-capone-rke2-wkld-node
        imageContent: |
          PATH = "https://d24fmfybwxpuhu.cloudfront.net/ubuntu2204-7.0.0-0-20250528.qcow2"
          DEV_PREFIX = "vd"

      - imageName: ubuntu-22-server-cloudimg
        imageContent: |
          PATH = "https://cloud-images.ubuntu.com/releases/jammy/release-20251017/ubuntu-22.04-server-cloudimg-amd64.img"
          DEV_PREFIX = "vd"

    templates:
      - templateName: validation-capone-rke2-wkld-master
        templateContent: |
          CONTEXT = [
            NETWORK = "YES",
            SET_HOSTNAME = "$NAME",
            SSH_PUBLIC_KEY = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC9BdN15Xs2pIE6dCpwJc/42eu7eA/7uGRtespxrqiA2m09ppQiSYeUjCaIQ6A/SQGrbR6uEcc79zOkHE2K7m/1cfyz7GOS3jzTqsC+/u4eqIcS9Oz5BKGUIk1NUueK+Z0uuUQcqc+vgKZ06Ky1QcG375lsOcLs+nbP3dM6QuF5oA+rwV1iPjot/euz3thFR+a8JXjmsmtUB4o8f/z3pS1Bo2LNW9N3M8aH6LPRM/MeqdREcn1D8spTB/dH9rq6N5RxhlqU0I1lE3mkFVrAtSZFbmKEW3FuaAxBJOoZqyMtuaAyCEo7joWTG1wYbj9NJjh/L/antkPPFMNhuOMtpXJ3iULVfq84Gaoh2grHY0KSyXa+Hx78brlgWqVsK5vH5ZAuIs7CAyQYYPxWbDZb0M192LQ3JKCkopBx60Z3PsRjbIHUXTOqIWAfD/AXbCCH7j2eLEZzQoeh4lAVQTWMlT22/uH9+3c5Ao5eww4GHehq1sSr22CkcrPm3w+1ikuv1rM= root@localhost.localdomain",
            TOKEN = "NO" ]
          CPU = "4"
          CPU_MODEL = [
            MODEL = "host-passthrough" ]
          DISK = [
            IMAGE = "ubuntu-22-server-cloudimg",
            SIZE = "65536" ]
          GRAPHICS = [
            LISTEN = "0.0.0.0",
            TYPE = "vnc" ]
          HYPERVISOR = "kvm"
          LXD_SECURITY_PRIVILEGED = "true"
          MEMORY = "20480"
          OS = [
            ARCH = "x86_64",
            FIRMWARE_SECURE = "YES" ]
          SCHED_REQUIREMENTS = "HYPERVISOR=kvm"
          VCPU = "4"
      - templateName: validation-capone-rke2-wkld-worker-any-vf
        templateContent: |
          CONTEXT = [
            NETWORK = "YES",
            SET_HOSTNAME = "$NAME",
            SSH_PUBLIC_KEY = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC9BdN15Xs2pIE6dCpwJc/42eu7eA/7uGRtespxrqiA2m09ppQiSYeUjCaIQ6A/SQGrbR6uEcc79zOkHE2K7m/1cfyz7GOS3jzTqsC+/u4eqIcS9Oz5BKGUIk1NUueK+Z0uuUQcqc+vgKZ06Ky1QcG375lsOcLs+nbP3dM6QuF5oA+rwV1iPjot/euz3thFR+a8JXjmsmtUB4o8f/z3pS1Bo2LNW9N3M8aH6LPRM/MeqdREcn1D8spTB/dH9rq6N5RxhlqU0I1lE3mkFVrAtSZFbmKEW3FuaAxBJOoZqyMtuaAyCEo7joWTG1wYbj9NJjh/L/antkPPFMNhuOMtpXJ3iULVfq84Gaoh2grHY0KSyXa+Hx78brlgWqVsK5vH5ZAuIs7CAyQYYPxWbDZb0M192LQ3JKCkopBx60Z3PsRjbIHUXTOqIWAfD/AXbCCH7j2eLEZzQoeh4lAVQTWMlT22/uH9+3c5Ao5eww4GHehq1sSr22CkcrPm3w+1ikuv1rM= root@localhost.localdomain",
            TOKEN = "NO" ]
          CPU_MODEL = [
            MODEL = "host-passthrough" ]
          DISK = [
            IMAGE = "ubuntu-22-server-cloudimg",
            SIZE = "65536" ]
          GRAPHICS = [
            LISTEN = "0.0.0.0",
            TYPE = "vnc" ]
          HYPERVISOR = "kvm"
          LXD_SECURITY_PRIVILEGED = "true"
          MEMORY = "40960"
          OS=[
            ARCH="x86_64",
            FIRMWARE="UEFI",
            FIRMWARE_SECURE="NO",
            MACHINE="q35" ]
          SCHED_REQUIREMENTS = "HYPERVISOR=kvm"
          CPU = "32"
          VCPU = "32"
          TOPOLOGY=[
            HUGEPAGE_SIZE="2",
            PIN_POLICY="thread" ]
          PCI=[
            CLASS="0200",
            DEVICE="1016",
            VENDOR="15b3" ]

  control_plane_replicas: 1

  machine_deployments:
    md01:
      node_class: vsr
      replicas: 1

  rke2:
    additionalUserData:
      config:
        bootcmd: # fix to avoid the following grub default settings overwrite of hugepage configuration with image 'ubuntu-22-server-cloudimg' 
          - |
            if [ -f /etc/default/grub.d/50-cloudimg-settings.cfg ]; then
              cloudimg_grub_cmdline=$(grep '^GRUB_CMDLINE_LINUX_DEFAULT=' /etc/default/grub.d/50-cloudimg-settings.cfg || true)
              if [ -n "$cloudimg_grub_cmdline" ] && ! grep -q '^GRUB_CMDLINE_LINUX_DEFAULT=' /etc/default/grub; then
                echo "$cloudimg_grub_cmdline" >> /etc/default/grub
              fi
              sed -i '/^GRUB_CMDLINE_LINUX_DEFAULT=/d' /etc/default/grub.d/50-cloudimg-settings.cfg
            fi

registry_mirrors:
  default_settings:
    capabilities: ["pull", "resolve"]
    skip_verify: true
  hosts_config:
    harbor.rke2-capone-harbor.wclusters.sylva:
    - mirror_url: https://harbor.rke2-capone-harbor.wclusters.sylva
      is_default_mirror: true

units:
  multus:
    enabled: true
  sriov-crd:
    enabled: true
  sriov-resources:
    enabled: true
  vsr-namespace:
    info:
      description: "Privilidged namespace created for VSR deployment"
    enabled: true
    repo: sylva-core
    unit_templates:
      - base-deps
    kustomization_spec:
      path: ./kustomize-units/namespace-defs/privileged-namespace
      targetNamespace: vsr-cell-site
      wait: true

sriov:
  node_policies:
    sriov-network-policy:
      nodeSelector:
        feature.node.kubernetes.io/network-sriov.capable: "true"
      resourceName: "sriov"
      numVfs: 1
      deviceType: "netdevice"
      nicSelector: # lspci -nn | grep -i ethernet
        deviceID: "1016"
        vendor: "15b3"

# IP held in the address range of the VNET
cluster_virtual_ip: 10.0.1.188
# IP held in the address range of the VNET
# display_external_ip: 10.16.2.253
